version: "3.8"

services:
  # --- MASTER (CEREBRO) ---
  cstore-master:
    container_name: cstore-master
    build: .
    image: cstore-image
    command: master master.config
    environment:
      - PUERTO_ESCUCHA=${MASTER_PORT}
      - LOG_LEVEL=${LOG_LEVEL}
      # Inyectamos FRESH_START también al Master por si valida metadatos
      - FRESH_START=${FRESH_START} 
    ports:
      - "${MASTER_PORT}:${MASTER_PORT}"
    networks:
      - cstore-net
    volumes:
      - ./master/config:/c-store/master/config
      - ./master/metadata:/c-store/master/metadata

  # --- STORAGE (PERSISTENCIA) ---
  cstore-storage:
    container_name: cstore-storage
    image: cstore-image
    command: storage storage.config
    depends_on:
      - cstore-master
    environment:
      - PUERTO_ESCUCHA=${STORAGE_PORT}
      - PUNTO_MONTAJE=/c-store/storage_data
      # T-014: Inyección de variables de entorno críticas
      - FRESH_START=${FRESH_START}
      - BLOCK_SIZE=${BLOCK_SIZE}
      - FS_SIZE=${FS_SIZE} #tamaño del FS
      - LOG_LEVEL=${LOG_LEVEL}
    ports:
      - "4002:${STORAGE_PORT}"
    networks:
      - cstore-net
    volumes:
      - ./storage/config:/c-store/storage/config
      - cstore-data:/c-store/storage_data

  # --- WORKER 1 ---
  worker-1:
    container_name: worker-1
    image: cstore-image
    command: worker worker.config 1
    depends_on:
      - cstore-master
      - cstore-storage
    environment:
      - WORKER_IP=worker-1
      - IP_MASTER=cstore-master
      - PUERTO_MASTER=${MASTER_PORT}
      - IP_STORAGE=cstore-storage
      - PUERTO_STORAGE=${STORAGE_PORT}
      - PUERTO_ESCUCHA=5000
      - LOG_LEVEL=${LOG_LEVEL}
      - BLOCK_SIZE=${BLOCK_SIZE}
    networks:
      - cstore-net
    volumes:
      - ./worker/config:/c-store/worker/config

  # --- WORKER 2 ---
  worker-2:
    container_name: worker-2
    image: cstore-image
    command: worker worker.config 2
    depends_on:
      - cstore-master
      - cstore-storage
    environment:
      - WORKER_IP=worker-2
      - IP_MASTER=cstore-master
      - PUERTO_MASTER=${MASTER_PORT}
      - IP_STORAGE=cstore-storage
      - PUERTO_STORAGE=${STORAGE_PORT}
      - PUERTO_ESCUCHA=5001
      - LOG_LEVEL=${LOG_LEVEL}
      - BLOCK_SIZE=${BLOCK_SIZE}
    networks:
      - cstore-net
    volumes:
      - ./worker/config:/c-store/worker/config

  # --- GATEWAY ---
  gateway:
    container_name: cstore-gateway
    hostname: cstore-gateway
    build: ./gateway
    ports:
      - "${GATEWAY_PORT}:8000"
    networks:
      - cstore-net
    depends_on:
      - cstore-master
    environment:
      - MASTER_HOST=cstore-master
      - MASTER_PORT=${MASTER_PORT}
    volumes:
      - ./gateway:/app

networks:
  cstore-net:
    driver: bridge

volumes:
  cstore-data: