TAM_MEMORIA=48
RETARDO_MEMORIA=25
ALGORITMO_REEMPLAZO=LRU

# T-003: Ruta relativa para scripts/archivos temporales
PATH_SCRIPTS=./tmp_scripts

# Identidad de Red (Pre-Docker): 
# En local usar 127.0.0.1. En Docker se inyectará cstore-master / cstore-storage
IP_MASTER=cstore-master
PUERTO_MASTER=4100
IP_STORAGE=cstore-storage
PUERTO_STORAGE=4000
PUERTO_ESCUCHA_DATOS=5000